[buildout]
extends =
    http://kgs.4teamwork.ch/sources.cfg

extensions += mr.developer

auto-checkout =
# https://github.com/4teamwork/ftw.simplelayout/pull/369
    ftw.simplelayout
# https://github.com/4teamwork/ftw.datepicker/pull/3
    ftw.datepicker
