.portletArchiveListing {
  ul {
    @include list();
  }

  .year {
    .yearnumber {
      @extend .fa-icon;
      @extend .fa-chevron-right;
    }

    &.expanded {
      .yearnumber {
        @extend .fa-icon;
        @extend .fa-chevron-down;
      }
      .months {
        display: block;
      }
    }
  }

  .months {
    display: none;
    a {
      padding-left: $padding-horizontal * 2;
    }
  }
}
