.archive-portlet {
  ul {
    @include list-tree($indentation: $line-height-base);
  }

  .year {
    @extend .fa-icon;
    @extend .fa-angle-right;

    &.expanded {
      @extend .fa-icon;
      @extend .fa-angle-down;

      ~ .months {
        display: block;
      }
    }

    .count {
      @include label-round();
    }
  }

  .months {
    display: none;
    .count {
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
  }
}
