@include portal-type-font-awesome-icon(ftw-news-news, newspaper-o);
@include portal-type-font-awesome-icon(ftw-news-newsfolder, newspaper-o);
@include portal-type-font-awesome-icon(ftw-news-newslistingblock, newspaper-o);

$leadimage-width: $scale-preview-width;

.news-row {
  @include list();

  .news-item {
    @include no-link();
    @include clearfix();
    padding: 0;
    margin-bottom: $margin-vertical * 2;

    &:hover {
      background-color: $color-gray-light;
    }

    .image {
      @include screen-small() {
        float: left;
        > img {
          max-width: $leadimage-width;
        }
      }
      > img {
        vertical-align: middle;
      }
    }

    .body {
      padding: $padding-vertical $padding-horizontal;
      @include screen-small() {
        padding-left: em($leadimage-width) + $padding-horizontal;
      }

      .news-more {
        display: inline;
        &:before {
          min-width: 0;
        }
      }
    }

    .byline {
      display: block;
      font-size: $font-size-small;
      color: $color-text-light;
    }

    .title {
      font-size: $font-size-h3;
      display: block;
    }
  }
}

.news-more {
  @extend .fa-icon;
  @extend .fa-caret-right;
  display: block;
}

.news-rss {
  @extend .fa-icon;
  @extend .fa-rss;
  display: block;
}

.news-date {
  font-size: $font-size-small;
  color: $color-text-light;
}

.news-portlet {
  .news-item {
    .image {
      float: none;
      > img {
        max-width: 100%;
      }
    }
    .body {
      padding: 0;
      padding-top: $padding-vertical;
    }
  }
}

