@include portal-type-font-awesome-icon(ftw-news-news, newspaper-o);
@include portal-type-font-awesome-icon(ftw-news-newsfolder, newspaper-o);
@include portal-type-font-awesome-icon(ftw-news-newslistingblock, newspaper-o);

$leadimage-width: $scale-news-listing-image-width;
$leadimage-height: $scale-news-listing-image-height;

$leadimage-max-width: 200px !default;

.news-row {
  @include list();
  margin-bottom: $margin-vertical;

  > li:last-child .news-item {
    margin-bottom: 0;
  }

  .news-item {
    @include no-link();
    @include clearfix();
    padding: 0;
    margin-bottom: $margin-vertical;

    &:hover {
      background-color: $color-gray-light;
    }

    .image {
      @include screen-small() {
        float: right;
        > img {
          max-width: $leadimage-max-width;
        }
      }

      min-width: $leadimage-max-width;
      min-height: $leadimage-max-width;

      > img {
        margin-bottom: 0;
        vertical-align: middle;
      }

      &.no-image {
        display: none;

        & +.body {
          padding-right: 0;
        }
      }
    }

    .body {
      &.show-image {
        @include screen-small() {
          padding-right: em($leadimage-max-width) + $padding-horizontal;
        }
      }

      .news-more {
        display: inline;
        &:before {
          min-width: 0;
        }
      }
    }

    .byline {
      display: block;
      font-size: $font-size-small;
      color: $color-text-light;
    }

    .title {
      font-size: 1rem;
      font-weight: bold;
      display: block;
    }
  }
}

.news-more {
  @extend .fa-icon;
  @extend .fa-caret-right;
  display: block;
}

.news-rss {
  @extend .fa-icon;
  @extend .fa-rss;
  display: block;
}

.news-date {
  font-size: $font-size-small;
  color: $color-text-light;
}

.news-portlet {
  .news-item {
    .image {
      @include screen-medium() {
        float: none;
        > img {
          max-width: 100%;
        }
      }
    }
    .body.show-image {
      @include screen-medium() {
        padding-left: 0;
      }
    }
  }
}

